/.vscode
/.notes
vaults/*
!vaults/default.yaml
.dev_ansible_vault_pass
.prod_ansible_vault_pass
provisioning/*/*
!provisioning/*/main.tf
!provisioning/*/variables.tf
!provisioning/*/terraform.tfvars
results.json
