vault {
  address      = "https://{{ vault.consul_dns_domain }}:{{ vault.ports.https }}"
  unwrap_token = false
  renew_token  = true
  vault_agent_token_file = "{{ consul_template.token_dir }}/vault/.consul_agent_tls"

  ssl {
    enabled = true
    verify  = false
  }
}

template {
  source          = "{{ consul_template.data_dir }}/ca.crt.tpl"
  destination     = "{{ consul.certs_dir }}/consul-agent-ca.pem"
  left_delimiter  = "[["
  right_delimiter = "]]"

  user            = "consul"
  group           = "consul"
  perms           = 0440

  exec {
    command = ["systemctl", "reload", "consul"]
  }
}

