[[ with secret "consul/creds/nomad_client_role" ]]
consul {
  address = "{{ ansible_eth1.ipv4.address }}:{{ consul.ports.http }}"
  grpc_address = "{{ ansible_eth1.ipv4.address }}:{{ consul.ports.grpc }}"
  token   = "[[ .Data.token ]]"
}
[[ end ]]
