[[ with secret "consul/creds/nomad_client_role" ]]
consul {
  address = "{{ localhost_ip }}:{{ consul.ports.http }}"
  grpc_address = "{{ localhost_ip }}:{{ consul.ports.grpc }}"
  token   = "[[ .Data.token ]]"
}
[[ end ]]
