CONSUL_CACERT={{ consul.certs_dir }}/connect.root.ca.crt
CONSUL_GRPC_ADDR=127.0.0.1:{{ consul.ports.grpc }}
CONSUL_HTTP_ADDR=https://127.0.0.1:{{ consul.ports.https }}
CONSUL_HTTP_TOKEN={{ consul_token }}
ENVOY_ADMIN_PORT={{ item.admin_port }}
