[[ range $i, $service := service "postgres-sql" -]]
[[- if eq $i 0 -]]
{
  "plugin_name": "postgresql-database-plugin",
  "username": "postgres",
  "password": "[[- with secret "kv2/data/postgres/config/postgres_password" -]][[ .Data.data.password ]][[- end -]]",
  "connection_url": "postgresql://{{'{{'}}username{{'}}'}}:{{'{{'}}password{{'}}'}}@[[ .Address ]]:[[ .Port ]]"
}
[[- end -]]
[[- end ]]

