#!/usr/bin/env bash

set -e

export VAULT_TOKEN=$(cat {{ consul_template.token_dir }}/vault/.configure_postgres_database)

vault write database/config/postgres \
  @/opt/vault/database/configure-postgres-database.json
