{% for service in gateway_services %}
upstream {{ service.name }}_backends {
[[- if (service "{{ service.name }}-api") -]]
[[ range service "{{ service.name }}-api" ]]
  server [[ .Address ]]:[[ .Port ]];
[[- end -]]
[[- else -]]
  server 127.0.0.2:80;
[[- end ]]
}
{% endfor %}

server {
  listen 443 ssl;
  listen [::]:443 ssl;

  server_name {{ api_url }};

  ssl_certificate {{ public_gateway.config_dir }}/origin.pem;
  ssl_certificate_key {{ public_gateway.config_dir }}/origin.key;

  proxy_set_header Host $host;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

{% for service in gateway_services %}
{% for grpc_service in service.grpc_services %}

  location /{{ grpc_service }} {
    proxy_pass http://{{ service.name }}_backends;
  }
{% endfor %}
{% endfor %}
}

server {
  listen 443 ssl;
  listen [::]:443 ssl;
  http2 on;

  server_name {{ grpc_url }};

  ssl_certificate {{ public_gateway.config_dir }}/origin.pem;
  ssl_certificate_key {{ public_gateway.config_dir }}/origin.key;

  grpc_set_header Host $host;
  grpc_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

{% for service in gateway_services %}
{% for grpc_service in service.grpc_services %}

  location /{{ grpc_service }} {
    grpc_pass grpc://{{ service.name }}_backends;
  }
{% endfor %}
{% endfor %}
}
