template {
  source          = "{{ consul_template.data_dir }}/services_gateway.conf.tpl"
  destination     = "{{ public_gateway.sites_dir }}/services_gateway.conf"
  left_delimiter  = "[["
  right_delimiter = "]]"

  user  = "www-data"
  group = "www-data"
  perms = 0440

  exec {
    command = ["systemctl", "reload", "nginx"]
  }
}

template {
  source          = "{{ consul_template.data_dir }}/frontend_gateway.conf.tpl"
  destination     = "{{ public_gateway.sites_dir }}/frontend_gateway.conf"
  left_delimiter  = "[["
  right_delimiter = "]]"

  user  = "www-data"
  group = "www-data"
  perms = 0440

  exec {
    command = ["systemctl", "reload", "nginx"]
  }
}
