[Unit]
Description=Envoy sidecar proxy
Requires=network-online.target
After=network-online.target consul.service

[Service]
User=root
Restart=on-failure
RestartSec=10s
EnvironmentFile={{ systemd_dir }}/envoy-sidecar@%i.env
ExecStart=consul connect envoy -sidecar-for %i -admin-bind "{{ localhost_ip }}:${ENVOY_ADMIN_PORT}"
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
