CONSUL_CACERT={{ consul.certs_dir }}/connect.root.ca.crt
CONSUL_GRPC_ADDR={{ localhost_ip }}:{{ consul.ports.grpc }}
CONSUL_HTTP_ADDR=https://{{ localhost_ip }}:{{ consul.ports.https }}
CONSUL_HTTP_TOKEN={{ consul_token }}
ENVOY_ADMIN_PORT=19000
