tls {
  http = true
  rpc = true

  ca_file   = "{{ nomad.certs_dir }}/nomad-agent-ca.pem"
  cert_file = "{{ nomad.certs_dir }}/nomad-agent-cert.pem"
  key_file  = "{{ nomad.certs_dir }}/nomad-agent-key.pem"

  #verify_server_hostname = true
  #verify_https_client = true

  {% if inventory_hostname in groups.nomad_servers %}
  rpc_upgrade_mode = true
  {% endif %}
}
