vault {
  address      = "https://{{ vault.consul_dns_domain }}:{{ vault.ports.https }}"
  unwrap_token = false
  renew_token  = true
  vault_agent_token_file = "{{ consul_template.token_dir }}/vault/.nomad_agent_tls"

  ssl {
    enabled = true
    verify  = false
  }
}

template {
  source          = "{{ consul_template.data_dir }}/nomad-agent-ca.pem.tpl"
  destination     = "{{ nomad.certs_dir }}/nomad-agent-ca.pem"
  perms           = 0774
  left_delimiter  = "[["
  right_delimiter = "]]"

  exec {
    command = ["systemctl", "reload", "nomad"]
  }
}

template {
  source          = "{{ consul_template.data_dir }}/nomad-agent-cert.pem.tpl"
  destination     = "{{ nomad.certs_dir }}/nomad-agent-cert.pem"
  perms           = 0774
  left_delimiter  = "[["
  right_delimiter = "]]"

  exec {
    command = ["systemctl", "reload", "nomad"]
  }
}

template {
  source          = "{{ consul_template.data_dir }}/nomad-agent-key.pem.tpl"
  destination     = "{{ nomad.certs_dir }}/nomad-agent-key.pem"
  perms           = 0770
  left_delimiter  = "[["
  right_delimiter = "]]"

  exec {
    command = ["systemctl", "reload", "nomad"]
  }
}


