[[ with secret "pki-int/nomad/issue/nomad-{{ data_center }}" "common_name={{ common_name }}" "alt_names={{ alt_names }}" "ttl=24h" "ip_sans={{ ansible_eth1.ipv4.address }}"]]
[[ .Data.private_key ]]
[[ end ]]