[[ with secret "pki-int/nomad/issue/nomad-{{ data_center }}" "common_name={% if inventory_hostname in groups.nomad_servers %}server{% else %}client{% endif %}.{{ data_center }}.nomad" "ttl=24h" ]]
[[ .Data.issuing_ca ]]
[[ end ]]