#!/usr/bin/env bash

set -e

export VAULT_TOKEN=$(cat {{ consul_template.token_dir }}/vault/.configure_cockroach_database)

vault write database/config/cockroach \
  @/opt/vault/database/configure-cockroach-database.json
