vault {
  address      = "https://{{ vault.consul_dns_domain }}:{{ vault.ports.https }}"
  unwrap_token = false
  renew_token  = true
  vault_agent_token_file = "{{ consul_template.token_dir }}/vault/.configure_cockroach_database"

  ssl {
    enabled = true
    verify  = false
  }
}

template {
  source      = "{{ consul_template.data_dir }}/configure-cockroach-database.json.tpl"
  destination = "/opt/vault/database/configure-cockroach-database.json"

  left_delimiter  = "[["
  right_delimiter = "]]"

  exec {
    command = ["/opt/vault/database/configure-cockroach-database.sh"]
  }
}
