[[ range $i, $service := service "cockroach-sql-gateway" -]]
[[- if eq $i 0 -]]
{
  "plugin_name": "postgresql-database-plugin",
  "allowed_roles": "{{ database_roles }}",
  "username": "global_management",
  "password": "[[- with secret "kv/cockroach/clients/global_management" -]][[ .Data.password ]][[- end -]]",
  "connection_url": "postgresql://{{'{{'}}username{{'}}'}}:{{'{{'}}password{{'}}'}}@[[ .Address ]]:[[ .Port ]]?sslmode=require"
}
[[- end -]]
[[- end ]]

