#!/usr/bin/env bash

set -e

export VAULT_TOKEN=$(cat /opt/vault/database/configure-cockroach-database-vault.token)

vault write database/config/cockroach \
  @/opt/vault/database/configure-cockroach-database.json
