path "database/static-creds/{{ item.name }}_user" {
  capabilities = ["read"]
}

path "kv2/data/services" {
  capabilities = ["read"]
}

path "kv2/data/services/{{ item.name }}" {
  capabilities = ["read"]
}
