{% if 'database_user' in item %}
path "database/static-creds/{{ item.database_user }}" {
  capabilities = ["read"]
}
{% endif %}

path "kv2/data/services" {
  capabilities = ["read"]
}

path "kv2/data/services/{{ item.name }}" {
  capabilities = ["read"]
}
