job "zitadel-init" {
  datacenters = ["{{ data_center }}"]
  type = "batch"

  group "zitadel-init" {
    network {
      mode = "bridge"
    }

    service {
      name = "zitadel-init"
      
      connect {
        sidecar_service {
          proxy {
            upstreams {
              destination_name = "postgres-sql"
              local_bind_port = {{ postgres.ports.sql }}
            }
          }
        }
      }
    }

    task "zitadel-init" {
      driver = "docker"

      vault {
        policies = ["zitadel"]
      }

      template {
        destination = "${NOMAD_SECRETS_DIR}/database.yaml"
        change_mode = "noop"
        left_delimiter = "[["
        right_delimiter = "]]"
        data = <<EOF
Database:
  postgres:
    Host: [[ env "NOMAD_UPSTREAM_IP_postgres-sql" ]]
    Port: [[ env "NOMAD_UPSTREAM_PORT_postgres-sql" ]]
    Database: zitadel
    MaxOpenConns: 15
    MaxIdleConns: 10
    MaxConnLifetime: 1h
    MaxConnIdleTime: 5m
    Options:
    User:
      Username: zitadel_user
      Password: "[[ with secret "database/static-creds/zitadel_user" ]][[ .Data.password ]][[ end ]]"
      SSL:
        Mode: prefer
    Admin:
      Username: zitadel_admin
      Password: "[[ with secret "database/static-creds/zitadel_admin" ]][[ .Data.password ]][[ end ]]"
      SSL:
        Mode: prefer
EOF
      }

      config {
        image = "ghcr.io/zitadel/zitadel:{{ zitadel.version }}"

        command = "init"

        args = [
          "--config",
          "${NOMAD_SECRETS_DIR}/database.yaml",
        ]
      }
    }
  }
}