job "zitadel" {
  datacenters = ["{{ data_center }}"]
  type        = "service"

  group "zitadel" {
    count = 3

    network {
      mode = "bridge"

      port "grpc" {}
    }

    service {
      name = "zitadel"
      port = "grpc"

      connect {
        sidecar_service {
          proxy {
            upstreams {
              destination_name = "cockroach-sql"
              local_bind_port  = {{ cockroach.ports.sql }}
            }
          }
        }
      }
    }

    task "zitadel" {
      driver = "docker"

      vault {
        policies = ["zitadel"]
      }

      template {
        destination     = "${NOMAD_SECRETS_DIR}/.env"
        env             = true
        change_mode     = "restart"
        left_delimiter  = "[["
        right_delimiter = "]]"
        data            = <<EOF
ZITADEL_MASTERKEY=[[ with secret "kv/zitadel/master_key" ]][[ .Data.key ]][[ end ]]
EOF
      }

      template {
        destination     = "${NOMAD_SECRETS_DIR}/config.yaml"
        change_mode     = "restart"
        left_delimiter  = "[["
        right_delimiter = "]]"
        data            = <<EOF
Log:
  Level: 'info'

Port: [[ env "NOMAD_PORT_grpc" ]]
ExternalSecure: true
ExternalDomain: {{ zitadel.domain }}
ExternalPort: 443

DefaultInstance:
  SMTPConfiguration:
    SMTP:
      Host: '{{ zitadel.smtp.host }}'
      User: '[[ with secret "kv/zitadel/smtp" ]][[ .Data.username ]][[ end ]]'
      Password: '[[ with secret "kv/zitadel/smtp" ]][[ .Data.password ]][[ end ]]'
    TLS: true
    From: '{{ zitadel.smtp.from }}'
    FromName: '{{ zitadel.smtp.from }}'

Database:
  cockroach:
    Host: [[ env "NOMAD_UPSTREAM_IP_cockroach-sql" ]]
    Port: [[ env "NOMAD_UPSTREAM_PORT_cockroach-sql" ]]
    Database: zitadel
    MaxOpenConns: 20
    MaxConnLifetime: 30m
    MaxConnIdleTime: 30m
    Options: ""
    Admin:
      Username: zitadel_admin
      Password: "[[ with secret "database/static-creds/zitadel_admin" ]][[ .Data.password ]][[ end ]]"
    User:
      Username: zitadel_user
      Password: "[[ with secret "database/static-creds/zitadel_user" ]][[ .Data.password ]][[ end ]]"
EOF
      }

      config {
        image = "ghcr.io/zitadel/zitadel:{{ zitadel.version }}"

        command = "start"

        args = [
          "--masterkeyFromEnv",
          "--tlsMode",
          "external",
          "--config",
          "${NOMAD_SECRETS_DIR}/config.yaml",
        ]
      }
    }
  }
}
