vault {
  address      = "https://{{ vault.consul_dns_domain }}:{{ vault.ports.https }}"
  unwrap_token = false
  renew_token  = true
  vault_agent_token_file = "{{ consul_template.token_dir }}/vault/.cockroach_cluster"

  ssl {
    enabled = true
    verify  = false
  }
}

template {
  source          = "{{ consul_template.data_dir }}/ca.crt.tpl"
  destination     = "{{ cockroach.certs_dir }}/ca.crt"
  left_delimiter  = "[["
  right_delimiter = "]]"

  user  = "cockroach"
  group = "cockroach"
  perms = 0400

  exec {
    command = ["systemctl", "restart", "cockroach"]
  }
}

template {
  source          = "{{ consul_template.data_dir }}/node.crt.tpl"
  destination     = "{{ cockroach.certs_dir }}/node.crt"
  left_delimiter  = "[["
  right_delimiter = "]]"

  user  = "cockroach"
  group = "cockroach"
  perms = 0400

  exec {
    command = ["systemctl", "restart", "cockroach"]
  }
}

template {
  source          = "{{ consul_template.data_dir }}/node.key.tpl"
  destination     = "{{ cockroach.certs_dir }}/node.key"
  left_delimiter  = "[["
  right_delimiter = "]]"

  user  = "cockroach"
  group = "cockroach"
  perms = 0400

  exec {
    command = ["systemctl", "restart", "cockroach"]
  }
}
